*{box-sizing: border-box;}

:root{
    --cor-titulo:#4d4d4d;
    --cor-texto:#333;
    --cor-escura:#000;
    --cor-clara:#fff;
    --cor-intermediaria:#ececec;
    

}
html{
    font-size: 16px;
}
body{
    color: var(--cor-texto);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--cor-clara);
}
body,h1,h2,p,figure,.menu{
    margin: 0;
    padding: 0;
}

h1{
    font-family: sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1rem;   
}
h1 a{
    color:var(--cor-clara);
    background-color: var(--cor-escura);
    padding: 0.3rem;
    border-radius: 4px;

}
header .limitador{
   display: flex;
   justify-content:space-between;
   align-items: center;
   height: 12vh;
}
header{
position: sticky;
top: 0%;
background-color: var(--cor-clara);
}
nav h2 a{
    color: var(--cor-escura);
    font-size: 18px;
    padding: 16px;
    display:inline-block;
}
a{text-decoration: none;}

nav h2 a .menu:hover,nav h2 a .menu{
    background-color: var(--cor-intermediaria);
}
.menu{
    list-style: none;
    display: none;
}

.menu a{
    color: var(--cor-clara);
    background-color: #000;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    }

.menu.aberto{
 display: flex;   
 flex-direction: column;
 position: absolute;
 left: 0;
 right: 0;
}
.limitador{
    width: 95vw;
    margin: auto;
}

footer{
    background-color: var(--cor-escura);
    color: var(--cor-clara);
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    text-align: center;
}
.terceira img{
width: 100%;
}
form{
    max-width: 500px;
    margin: auto;
}
input,select, textarea{
    padding: 4px;
    height: 40px;
    border-radius: 4px;
}
textarea{
    height: auto;
}
form div{
    display: flex;
 
    align-items: center;
    margin-top: 1rem;
}
label{
    font-size: 0.9rem;
    font-weight: bold;
    width: 30%;
}
form div*:not(label){
    width: 70%;
    
}
button{
    background-color: var(--cor-escura);
    color: var(--cor-clara);
    border: none;
    font-weight: bold;
    padding: 1rem 0.5rem;
    cursor: pointer;
    border-radius: 4px;

}
button:hover,button:focus{
    background-color: var(--cor-clara);
    color: var(--cor-escura);
    box-shadow: var(--cor-escura)  0 0 2px;
}


@media  (min-width:570px) {
      h2{
        display:none;
    }
    .menu{
    display: flex;  
    justify-content: space-between;
         
    }
    nav{
        width: 70%;
        
    }
   nav h2 a{align-items: center;}
   h3{
    text-align: center;
   }

  }

  

    
