*{box-sizing: border-box;}
ul{
    list-style: none;
}


.limitador{
width: 95vw;
margin: auto;
}
h1{
    background-color: black;
    border: 1px dotted red;
}

@media screen and (min-width:570px) {
    nav h2{
        display: none;
    }
     .menu {
        display: flex;
        justify-content: space-between;
        width: 50%;
        
    
    }
    

  

    
}