*{box-sizing: border-box;}
header{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
nav h2 a{
    font-size: 18px;
    padding: 16px;
    display: inline-block;
}
ul{
    list-style: none;
}
.menu{
    align-items: center;
    padding: 10px;
}
.menu{
    display: none;
}
h1{
    font-size: 25px;
}
body{
    background-image: url();
}
@media (min-width:570px) {
    header h2 a {
        display:none;
    }

    .menu{
        display:flex;
        justify-content: space-between;
        align-items:center;
        width: 70%;
        background-color: black;
    }
    .menu a{
        color: white;
    }

  }

  

    
